<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
<h1>Welcome to Express Pizza</h1>

<h2>Specialty Pizzas</h2>
<ul>
<li><a href="/speciality-pizza?name=Ham-pineapple&price=11">Ham & Pineapple Pizza</a></li>
      <li><a href="/speciality-pizza?name=Oyster&price=20">Oyster Pizza</a></li>
      <li><a href="/speciality-pizza?name=Vegan-supreme&price=15">Vegan Supreme Pizza</a></li>
</ul>
<h2>Custom Pizza</h2>

<h2>Leave a review</h2>  
  <ul>
<li><a href="/review">Leave a Review</a></li>
</body>
</html>